body {
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Open Sans", sans-serif;
}

.row {
  flex-direction: column;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  align-items: flex-start;
}

.newFact,
.favouriteFacts {
  width: 50%;
}

.fact {
  padding: 20px;
}

.saveFact {
  color: white;
  background-color: green;
  border: none;
  border-radius: 20px;
  margin: 5px;
}

.error {
  color: red;
}
